@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
}

body {
  min-height: 100vh;  
  background: url(/sky.png);
  background-size: cover;
  background-clip: content-box;
  background-position: center;
  backdrop-filter: blur(2px);
}

.App {
  min-height: 100vh;
}
